* {
    font-family: Arial;
    font-weight: bold;
    text-align: center;
  	margin: 0;
	user-select: none; /* Standard */
}

body {
	background-color: rgb(35, 84, 158);
}

#box {
    width: 40%;
    margin: auto;
    border: 5px solid #072c63;
    
}

.buttons {
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 01em 0.3em 0;
	border-radius:0.12em;
	text-decoration:none;
	font-weight: 400;
	font-size: 20px;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.2s;
}

.buttons:hover {
	color:#000000;
	background-color:#FFFFFF;
}

.container {
    color: #072c63;
    display: grid;
    font-size: 8vw;
    grid-template-columns: 33.333% 33.333% 33.333%;
}

@media screen and (max-width: 1000px) {
    #box {
        width: 60%;
        margin: auto;
        border: 5px solid #072c63;
    }
    
    .boxButtons{
		font-size: 30px;
	}
    
    .container {
        color: #072c63;
        display: grid;
        font-size: 15vw;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}

@media screen and (max-width: 425px) {
	.boxButtons{
		font-size: 50px;
	}
}

.containerInside {
    border: 5px solid #072c63;
}