* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    background-color: none;
}

#test {
    width: 40%;
    margin: auto;
    border: 5px solid rgb(35, 84, 158);
}

.container {
    color: white;
    background-color: rgb(35, 84, 158);
    display: grid;
    font-size: 8vw;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

@media screen and (max-width: 1000px) {
    #test {
        width: 60%;
        margin: auto;
        border: 5px solid rgb(35, 84, 158);
    }
    
    .container {
        color: white;
        display: grid;
        font-size: 15vw;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}

.container div:nth-child(9) {
    background-color: white;
}

.containerInside {
    border: 5px solid white;
}